@import '../sdk-globals';

$space-between-inputs: 10px;

.input-text {
  outline: none;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 3px;
  background-color: $color-the-white;
  border: 1px solid $color-header-separator-grey;
  box-shadow: none;
  margin-right: $space-between-inputs;
  &:last-child {
    margin-right: 0;
  }

  &:focus {
    border: 1px solid $color-header-separator-grey;
    background-color: $color-the-white;
    outline: none;
    box-shadow: none;
    // transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  }
}

.g86-radio {
  position: relative;
  display: inline-block;
  background-color: $color-the-white;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
  .material-icons {
    position: absolute;
    top: -1px;
    left: -1px;
    font-size: 26px;
    transition-duration: 0.2s;
  }
  input {
    opacity: 0;
    pointer-events: none;
  }
}

.g86-checkbox {
  position: relative;
  display: inline-block;
  background-color: $color-the-white;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
  .material-icons {
    position: absolute;
    top: -1px;
    left: -1px;
    font-size: 26px;
    transition-duration: 0.2s;
  }
  input {
    opacity: 0;
    pointer-events: none;
  }
}

